<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">  -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <!-- <link rel="stylesheet" type="text/css" href="https://xfl.jp/Ux2lKI"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.filesend.jp/private/74b6BY9aL8uqXlnVKUiJmFXWGnSa6tjzWlvror9aIO4e47vVlwSQNdzwqMayszGG/pdf.css" > -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>


    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
