<template>
 <div class="slides"  >
        <section v-for="(item,i) in search_json" :key="i"  style="top: 01.5px;!important">

           <div style="text-align:center" v-if="searching">  {{ searching}} </div>
           <div class="row"  >
          <div class="column" v-if="item['img0'] !== undefined">
            <img :src="item['img0']" class="responsive" height="200px" style="width:100%"/>
            <table rules="all"  border="1" style="width:80%">
            <tr v-for="(menu,index) in item['tables0']" :key="index">
                <td  style="font-size:20px;text-align: center;line-height: 0.9;">{{index }}</td>
                <td   style="font-size:20px;text-align: center;line-height: 0.9;">{{menu }}</td>
            </tr>
            </table>
        </div>
        <div class="column" v-if="item['img1'] !== undefined">
            <img :src="item['img1']" class="responsive" height="200px"  style="width:100%"/>
           <table rules="all"  border="1" style="width:80%">
            <tr v-for="(menu,index) in item['tables1']" :key="index">
                <td  style="font-size:20px;text-align: center;line-height: 0.9;">{{index }}</td>
                <td   style="font-size:20px;text-align: center;line-height: 0.9;">{{menu }}</td>
            </tr>
            </table>
        </div>  
        </div>  

        </section>
    </div>

</template>

<script>
export default {
  name: 'sectionval',
  props:['search_json',"search","searching"]
}
</script>

<style scoped>
.responsive {
  width: 100%;
  /* height: auto; */
}
</style>
