<template>
  <div id="app">
  <div >
            <input type="text" v-model="search" placeholder="Search title.."/>
            <button @click="printto_PDF()"> print pdf </button>
          </div>
          <h1 v-if="loading" > Loading ... </h1>
          <h1 v-if="!loading&& Object.keys(search_json).length==0" > Oops No Data ... </h1>
    <div ref="dataupdate" class="reveal" v-show="!loading&& Object.keys(search_json).length>0" >
              <sectionval :search_json=search_json :search="search" :searching="searching"></sectionval>
      </div>
    </div>
</template>

<script>
import Reveal from "reveal.js";
import Markdown from "reveal.js/plugin/markdown/markdown.js";
import Highlight from "reveal.js/plugin/highlight/highlight.js";
import "reveal.js/dist/reveal.css";
import "reveal.js/dist/theme/black.css";
import "reveal.js/plugin/highlight/monokai.css";
import _ from "lodash";
import sectionval from '../src/components/sectionval'

export default {
  name: "App",
  data(){
    return{
    
      search_json:{},
      loading:false,
      searching:"",
      search:"",
      last_range:0
      }
    },
     updated() {
      // console.log("updated", this.$refs)
      var state = Reveal.getState();
      console.log(state,'Revealdddd');
      if (state['indexh']!== undefined){
        Reveal.setState( state )    

      }
                    // console.log(Reveal.getTotalSlides(),'Reveal');
  //       Reveal.addEventListener( 'slidechanged', function( event ) {
	// console.log(event.previousSlide, event.currentSlide, event.indexh, event.indexv)
// } );
    },
    watch:{
      
       search: _.debounce(function (val) {
      console.log(val)
      this.search_json = {}
      this.get_data(5)
    }, 2000),
    },
    created(){
      
      if(!window.location.href.includes('pdf')&&window.location.href.includes('#')){
          window.location.href = '/'
       }
      // this.search_json = this.json
      this.get_data(5)
    },
    methods:{
         printto_PDF (){
           this.search_json =Object.assign({}, this.search_json,{}
     
           )
        //    console.log('search')
        // var link = document.createElement( 'link' );
        //   link.rel = 'stylesheet';
        //   link.type = 'text/css';
        //   link.href = 'https://cdn.filesend.jp/private/74b6BY9aL8uqXlnVKUiJmFXWGnSa6tjzWlvror9aIO4e47vVlwSQNdzwqMayszGG/pdf.css' ;
        //   document.getElementsByTagName( 'head' )[0].appendChild( link );
        //             console.log(document.getElementsByTagName( 'head' )[0],link.href, 'sdsas')
        //              window.location.href = '/#/?print-pdf'

      },
      get_data(range){
        this.searching = ""
        this.last_range= 0
        this.loading=true
        
        // http://127.0.0.1:8000/
        // https://demo.frunext.com
        range = range!=undefined&&range<=5?'0,1,2,3,4,5':String(range)
        let search_or_random = ["",null,undefined].includes(this.search.replace(" ",""))?"random":"search"
        let urls = `https://demo.frunext.com/api/get-demo-${search_or_random}?range=${range}`
        if (search_or_random == 'search'){
            urls += `&search=${this.search}`
            this.searching = this.search
        }

        this.axios.get(urls)
                        .then(response => {
                            this.search_json =response.data
                            console.log(window.location.href)
                            if(!window.location.href.includes('#')){
                               window.location.href = '/#/'
                            }
                                    this.loading=false

                        }).catch(error => {
                        this.loading = false;

                        alert(error.response.data)
                    });
      },
       get_data_new(range){
         console.log(range,this.last_range, 'range')
         if (range>this.last_range){
         this.last_range= range
        // http://127.0.0.1:8900/
        // https://demo.frunext.com
          let search_or_random = ["",null,undefined].includes(this.search.replace(" ",""))?"random":"search"
       
        let urls = `https://demo.frunext.com/api/get-demo-${search_or_random}?range=${range}`
         if (search_or_random == 'search'){
            urls += `&search=${this.search}`
        }

        this.axios.get(urls)
                        .then(response => {
                          this.search_json =Object.assign({}, this.search_json,response.data)
                            // this.search_json =
                            // console.log(window.location.href)
                            // if(!window.location.href.includes('#')){
                            //    window.location.href = '/#/'
                            // }
                            //         this.loading=false
                              
                        }).catch(error => {
                        // this.loading = false;
                        console.info("Background"+ error.response.data)
                    });
      }}
    },
      computed: {
          
      },
      components:{
      sectionval
      },
    mounted() {
       let vm = this;
      Reveal.addEventListener( 'slidechanged', function( event ) {
        console.log(event.indexh , typeof(event.indexh), 'test')
        if (event.indexh>4 ){
          vm.get_data_new(event.indexh+1)
        }
      } );
      console.log( 'Reveal.initialize')
    Reveal.initialize({
      plugins: [Markdown, Highlight],
      slideNumber: true,
      showNotes: true,
      markdown: {
        breaks: true,
        gfm: true
      },
    });
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #b1b9c2;
  margin-top: 60px;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;

}
.imgContainer{
    float:left;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.responsive {
  width: 100%;
  /* height: auto; */
}
label {
      position: absolute;
      font-size: 12px;
      color: rgba(0,0,0,.50);
      top: 8px;
      left: 12px;
      z-index: -1;
      transition: .15s all ease-in-out;
    }
   

   



</style>
